/* Media Queries */
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
}
@media only screen and (min-width: 436px) and (max-width: 599px) {
}
@media only screen and (max-width: 435px) {
	#myMenu {
		display: none;
	}
	h1 {
		font-size: 3em;
	}
	.staff-member h2, .case-study h2 {
		font-size: 1.5em;
	}

	.case-study-text img {
		margin-bottom: -3px;
	}

	.executions-info, .results-info {
	  margin: 10px 5px;
	  width: 100%;
	}

	.brand-info .brand-info-text, .executions-info .executions-info-text, .results-info .results-info-text {
	  width: 100%;
	}

	#footer .container {
		margin: 0;
	}
	.buttonContainer {
		min-width: 110px;
	}
	.buttonContainer a {
		padding: 11px;
		font-size: 12px;
	}
	input[type=email], input[type=text], textarea {
  width: 100% !important; 
  box-sizing: border-box;
	}
}

@media only screen and (max-width: 345px) {
	.social-icons i{
	  margin: 5px 5px;
	}
}
