/*
Theme Name: LIGHTSWITCH - IDIGITAL
Theme URI: http://lightswitch.solutions
Author: Lightswitch Solutions
Author URI: http://lightswitch.solutions
Description: Custom Bespoke Theme By Lightswitch Solutions
*/
@font-face {
    font-family: 'proxima_nova_cn_rgregular';
    src: url('fonts/proximanovacond-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanovacond-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_condensedRgIt';
    src: url('fonts/proximanovacond-regularit-webfont.woff2') format('woff2'),
         url('fonts/proximanovacond-regularit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('fonts/proximanova-regularitalic-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novablack';
    src: url('fonts/proximanova-black-webfont.woff2') format('woff2'),
         url('fonts/proximanova-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgbold_italic';
    src: url('fonts/proximanova-boldit-webfont.woff2') format('woff2'),
         url('fonts/proximanova-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* BACKGROUND VIDEO */

body {
  margin: 0;
  background: #fff; 
}
.bg-wrapper {
  overflow: hidden;
}
.single-case-study video, .single-case-study .video-placeholder, .video-placeholder { 
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}

@media screen and (max-device-width: 800px) {
  #bgvid { display: none; }
}

/* LOADING SCREEN */
.loading {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-align:center;
  z-index:19;
  background-color:#272727;
  font-size: 60px;
  font-weight: 800;
}
.loading img, .loading span {
  position:relative;
  top:50%;
  margin-top:-30px;
  color:#00FFBB;
  width: 60px;
}
/* NAVIGATION BUTTON */

.c-hamburger {
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.c-hamburger:focus {
  outline: none;
  background-color: transparent;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 10px;
  left: 1px;
  right: 10px;
  height: 3px;
  background: #272727;
}
.dark-header .c-hamburger span, .dark-header .c-hamburger span::before, .dark-header .c-hamburger span::after {
  background: #fff;
  -webkit-transition: all 0s;
  transition: all 0s;
}
.dark-header.transparent .c-hamburger span, .dark-header.transparent .c-hamburger span::before, .dark-header.transparent .c-hamburger span::after {
  background: #272727;
  -webkit-transition: all 0s;
  transition: all 0s;
}
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #272727;
  content: "";
}
.c-hamburger span::before {
  top: -6px;
}
.c-hamburger span::after {
  bottom: -6px;
}
.c-hamburger--htx {
  background-color: transparent;
}
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}
.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: transparent;
}
.c-hamburger--htx.is-active span {
  background: none;
}

.dark-header.transparent .c-hamburger--htx.is-active span {
  background-color: transparent;
}
.c-hamburger--htx.is-active span::before .c-hamburger--htx.is-active span::after {
  background: #272727;
}
.c-hamburger--htx.is-active span::before:hover, .c-hamburger--htx.is-active span::after:hover {
  background: #000;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
  background-color: #272727;
}

.c-hamburger--htx.is-active span:hover::before,
.c-hamburger--htx.is-active span:hover::after {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
  background-color: #fff;
}

/* Navigation Menu */
#fp-nav ul li, .fp-slidesNav ul li {
  margin-bottom: 30px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border-radius: 0;
  height: 9px;
  width: 9px;
  border: 3px solid #272727;
  margin: -5px 0 0 -5px;
}

.activeli a span {
  background: transparent !important;
  width: 15px !important;
  height: 15px !important;
  margin: -8px 0px 0px -8px !important;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
  background: transparent;
  width: 15px;
  height: 15px;
  margin: -8px 0px 0px -8px;
}

.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -15px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  text-align: right;
  padding-top: calc(50vh - 132px);
  padding-right: 50px;
  background-color: #00FFBB;
  -webkit-transition: all 0.1s;
}
.navigation .social-icons {
  position: absolute;
  bottom: 50px;
  right: 30px;
}
.navigation .social-icons.menu i:hover{
  color: #fff;
  border: 3px solid #fff;
}
.nav-item a{
  margin-top: 20px;
  font-size: 36px;
  color: #272727;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'proxima_nova_rgbold';
}
.nav-item a:hover {
  color: #fff;
}
.site-wrap {
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  right: 0;
  z-index: 1;
}
label[for="nav-trigger"] {
  position: fixed;
  right: 15px; top: 15px;
  z-index: 18;
}
/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: right 0.5s;
}
.nav-trigger:checked + label {
  right: 400px;
}

body {
  font-family: 'proxima_nova_rgregular', arial;
  overflow-x: hidden;
}

h1, h3, h5{
	font-family: 'proxima_novablack',arial;
  color: #272727;
  margin: 0 0 20px 0;
}

h1 {
  font-size: 5em;
}

h2, h4, h6, .btn {
	font-family: 'proxima_nova_rgbold',arial;
}

p {
  font-family: 'proxima_nova_rgregular';
  color: #272727;
  font-size: 1.2em;
}

body a, body li {
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
}

a.header-img  {  
  position: relative;
  top: 28px;
  left: 30px;
  width: 105px;
  height: 35px;
  display: inline-block;
}
.header { 
  background-color: rgba(255,255,255,0);
  transition:all 0.8s;
  -webkit-transition:all 0.8s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 90px;
  background-image: url(/wp-content/themes/idigital/images/logo_black.png);
  background-size: 107px;
  background-repeat: no-repeat;
  background-position: 30px 30px;
  width: 100%;
  transition:background none;
  -webkit-transition:background none;
}
.dark-header {
  background-color: #272727;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  transition:background none;
  -webkit-transition:background none;
  background-image: url(/wp-content/themes/idigital/images/logo_white.png);
}
.transparent {
  background-color: transparent;
  background-color: transparent;background-image: url(/wp-content/themes/idigital/images/logo_black.png);
}
.section {
	text-align: center;
}
.section:nth-child(even) {
	background-color: #00FFBB;
}
.single-case-study .section:nth-child(odd) {
  background-color: #00FFBB;
}
.single-case-study .section:nth-child(even) {
  background-color: #FFF;
}
.row.valign-wrapper {
  margin-bottom: 0;
}

.section h1 {
	text-transform: uppercase;
}

/* BUTTON ANIMATION */
.btn-large {
  line-height: 58px;
  margin-top: 20px;
}

.btn {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: color .3s cubic-bezier(.455, .03, .515, .955);
  transition: background .3s cubic-bezier(.455, .03, .515, .955);
  background:transparent;
  border-radius: 0;
  color: #272727;
}

.btn:hover {
  background:#00FFBB;
}

.btn:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translate3d(0, 0, 0) scaleY(0);
  -ms-transform: translate3d(0, 0, 0) scaleY(0);
  transform: translate3d(0, 0, 0) scaleY(0);
  transition: .3s cubic-bezier(.455, .03, .515, .955);
}
.btn:hover:after {
  -webkit-transform: translate3d(0, 0, 0) scaleY(1);
  -ms-transform: translate3d(0, 0, 0) scaleY(1);
  transform: translate3d(0, 0, 0) scaleY(1);
}
.btn:hover .vert {
  -webkit-transform: translate3d(0, 0, 0) scaleY(0);
  -ms-transform: translate3d(0, 0, 0) scaleY(0);
  transform: translate3d(0, 0, 0) scaleY(0);
}
.btn:hover .hor {
  -webkit-transform: translate3d(0, 0, 0) scaleX(0);
  -ms-transform: translate3d(0, 0, 0) scaleX(0);
  transform: translate3d(0, 0, 0) scaleX(0);
}
.btn-border {
  position: absolute;
  background: #272727;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: .5s cubic-bezier(.455, .03, .515, .955);
}
.btn-border.vert {
  top: 0;
  width: 3px;
  height: 100%;
}
.btn-border.hor {
  left: 0;
  width: 100%;
  height: 3px;
}
.btn-border.left {
  left: 0;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
}
.btn-border.right {
  right: 0;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
.btn-border.top {
  top: 0;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
}
.btn-border.bottom {
  bottom: 0;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
/* BUTTON ANIMATION END */

.full-width-image {
  width: 100%;
  margin: 0;
  padding: 0; 
}

.down-arrow {
  position: absolute; 
  top: calc( 100vh - 40px); 
  left: 0;
  text-align:center;
  width: 100%;
}

.down-arrow img {
  width: 30px;
}

#secondsection {
  background-color: #00FFBB;
  text-align: center;
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
}

/* ABOUT PAGE */
.staff-member, .case-study {
  margin: 0 !important;
  padding: 0 !important;
}

.staff-member h2, .case-study h2 {
  font-family: "proxima_novablack";
  text-transform: uppercase;
  font-size: 4em;
}

.staff-member p, .case-study p {
  font-size: 1.2em;  
  padding: 0 30px;
}

.row.case-study .case-study img, .staff-member img {
  margin-bottom: -7px !important;
}

.case-study-text {
  position: relative; 
  width: 100%;
  background-color: #00FFBB;
}

.case-study-text img {
  width: 100%;
}

.picture-overlay {
  position: absolute;
  top:0;
  background-color: #00FFBB;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
}

.picture-overlay .center-align {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

.center-align {
  text-align: center;
  margin: auto;
}

/* SHARING ICONS (Found on menu and contact page)*/
.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-align: center;
}

.social-icons i{
  color: #272727;
  border: 3px solid #272727;
  padding: 3px;
  width: 30px;
  height: 30px;
  margin: 5px 15px;
  display: inline-block;
  line-height: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social-icons i:hover {
  color: #00FFBB;
  border: 3px solid #00FFBB;
}

.full-width-image img {
  max-width: 100%;
}

/* CONTACT FORM */
input[type=email], input[type=text], textarea {
  width: 100%;
  box-sizing: border-box; 
  padding: 5px 10px 0px !important;
}

input, textarea {
    border: 4px solid #272727 !important;
    border-radius: 2px !important;
    font-family: 'proxima_nova_rgregular' !important;
    outline: none !important;
    font-size: 1.25em !important;
}

textarea {
  height: 320px;
}

input.wpcf7-submit {
  width: 100%;
	background-color: #272727; 
  color: #fff;
	text-transform: uppercase;
  text-align: center;
  font-size: 1.25em;
  line-height: 2.25em; 
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #272727;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.25em;
  line-height: 1.25em;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #272727;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.25em;
  line-height: 1.25em;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #272727;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.25em;
  line-height: 1.25em;
}
:-moz-placeholder { /* Firefox 18- */
  color: #272727;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.25em;
  line-height: 1.25em;
}

/* CASE STUDY PAGE */

.brand-info {
  width: 100%;
}

.brand-info .brand-info-text, .executions-info .executions-info-text, .results-info .results-info-text {
  text-align: center;
  margin: auto;
  width: 50%;
}

.brand-info .brand-info-text h2, .executions-info .executions-info-text h2, .results-info .results-info-text h2 {
  font-family: "proxima_novablack";
  text-transform: uppercase;
  font-size: 4em;
}

.brand-info p{
  margin: 30px;
}

.executions-info, .results-info {
  margin: 50px 20px;
  width: 100%;
}

.results .row .col.l4 {
  text-align: center;
}

.fullwidth {
  width: 100%;
}

/* FOOTER */
.footer, #footer {
	background-color: #272727 !important;
	color: #fff;
  text-align: center;
  height: 90px !important;
}

.footer .row {
	margin: 0; 
  height: 100%;
}

/* SLICK STYLE */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  width: 140px !important;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  margin: auto;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
button.slick-next.slick-arrow, button.slick-prev.slick-arrow {
  display: none !important;
}